.about--container{
    display: flex;
    flex-direction: column;
    color: #f5f5f5;
    padding: 35px;   
    background-color: #1A1B21;
}
.title{
    font-size: 16px;
    font-weight: 700;
}
.content{
    font-size: 10.24px;
    font-weight: 400;
    color:#DCDCDC;
}